<h1
  mat-dialog-title
  [ngClass]="{
    'dialog-title-uploading': resgistrationStatus === 'isUploading',
    'dialog-title-success': resgistrationStatus === 'isSuccess',
    'dialog-title-error': resgistrationStatus === 'isFail'
  }"
>
  <mat-icon class="material-icons-round">{{ dialogIcon }}</mat-icon>
  {{ dialogTitle }}
</h1>
<div mat-dialog-content [ngSwitch]="resgistrationStatus">
  <div *ngSwitchCase="'isUploading'" class="dialog-content">
    <label for="progress-bar">{{ message }}</label>
    <mat-progress-bar id="progress-bar" mode="determinate" [value]="uploadProgress"></mat-progress-bar>
  </div>
  <div *ngSwitchCase="'isSuccess'" class="dialog-content">
    <span>{{ message }}</span>
  </div>
  <div *ngSwitchCase="'isFail'" class="dialog-content">
    <span>{{ message }}</span>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button
    mat-button
    color="primary"
    [mat-dialog-close]="'OK'"
    [disabled]="resgistrationStatus === 'isUploading'"
    (click)="navigateToLogin()"
  >
    OK
  </button>
</div>
