<div class="user-profil-container">
  <mat-toolbar color="primary" [class.mat-elevation-z4]="true">
    <a mat-icon-button matTooltip="Home" href="/">
      <mat-icon class="material-icons-round">home</mat-icon>
    </a>
    <div>
      <button
        type="button"
        mat-icon-button
        (click)="onEdit()"
        matTooltip="{{ readonly ? 'Edit your account information' : 'Save modifications' }}"
      >
        <mat-icon class="material-icons-round">{{ readonly ? 'edit' : 'save' }}</mat-icon>
      </button>
      <a mat-icon-button matTooltip="Logout" href="/logout">
        <mat-icon>logout</mat-icon>
      </a>
    </div>
  </mat-toolbar>
  <mat-card class="user-profil-form-container">
    <mat-card-header>
      <mat-card-title>My account</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group (selectedTabChange)="onTabChange($event)">
        <!-- Login informations tab -->
        <mat-tab label="Login informations" [disabled]="tabsDisabled[0]">
          <ng-template matTabContent>
            <form [formGroup]="registrationFormStep1" id="registration-form-step-1" (change)="onFormChange('registrationFormStep1')">
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="user@example.com" formControlName="email" required readonly />
                <mat-error *ngIf="registrationFormStep1.get('email').invalid">
                  {{ getErrorMessage('registrationFormStep1', 'email') }}
                </mat-error>
                <button mat-icon-button matPrefix disabled>
                  <mat-icon class="material-icons-round">email</mat-icon>
                </button>
              </mat-form-field>
              <mat-form-field
                appearance="outline"
                hintLabel="{{
                  environment.inputs.password.readonly
                    ? ''
                    : 'Your password must contain at least 8 characters with at least 1 numeric character, 1 uppercase letter, 1 lowercase letter and 1 special character.'
                }}"
              >
                <mat-label>Password</mat-label>
                <input
                  matInput
                  [type]="hide ? 'password' : 'text'"
                  formControlName="password"
                  required
                  (input)="onPasswordValueChange()"
                  #passwordInput
                  maxlength="32"
                  [readonly]="environment.inputs.password.readonly"
                />
                <mat-hint align="end" *ngIf="!environment.inputs.password.readonly"> {{ passwordInput.value?.length || 0 }}/32</mat-hint>
                <mat-error *ngIf="registrationFormStep1.get('password').invalid">
                  {{ getErrorMessage('registrationFormStep1', 'password') }}
                </mat-error>
                <button mat-icon-button matPrefix disabled>
                  <mat-icon class="material-icons-round">lock</mat-icon>
                </button>
                <button
                  type="button"
                  mat-icon-button
                  matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                  matTooltip="{{ hide ? 'Show password' : 'Hide password' }}"
                >
                  <mat-icon class="material-icons-round">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
              </mat-form-field>
              <mat-form-field appearance="outline" *ngIf="!environment.inputs.password.readonly">
                <mat-label>Confirm your password</mat-label>
                <input
                  matInput
                  [type]="hide ? 'password' : 'text'"
                  formControlName="confirmPassword"
                  required
                  [readonly]="environment.inputs.confirmPassword.readonly"
                />
                <mat-error *ngIf="registrationFormStep1.get('confirmPassword').invalid">
                  {{ getErrorMessage('registrationFormStep1', 'confirmPassword') }}</mat-error
                >
                <button mat-icon-button matPrefix disabled>
                  <mat-icon class="material-icons-round">lock</mat-icon>
                </button>
                <button
                  type="button"
                  mat-icon-button
                  matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                  matTooltip="{{ hide ? 'Show password' : 'Hide password' }}"
                >
                  <mat-icon class="material-icons-round">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
              </mat-form-field>
            </form>
          </ng-template>
        </mat-tab>
        <!-- Personal informations tab -->
        <mat-tab label="Personal informations" [disabled]="tabsDisabled[1]">
          <ng-template matTabContent>
            <form [formGroup]="registrationFormStep2" id="registration-form-step-2" (change)="onFormChange('registrationFormStep2')">
              <mat-form-field appearance="outline" *ngIf="!environment.inputs.membershipType.readonly">
                <mat-label>Type of membership</mat-label>
                <mat-select formControlName="membershipType" required>
                  <mat-option>-- Clear --</mat-option>
                  <mat-option *ngFor="let membershipType of environment.inputs.membershipType.types" [value]="membershipType">
                    {{ membershipType }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="registrationFormStep2.get('membershipType').invalid">
                  {{ getErrorMessage('registrationFormStep2', 'membershipType') }}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" *ngIf="environment.inputs.membershipType.readonly">
                <mat-label>Type of membership</mat-label>
                <input matInput formControlName="membershipType" required readonly />
              </mat-form-field>
              <!-- TODO: Confirm with Hamza if 'Type of account' field is editable?! -->
              <mat-form-field appearance="outline" *ngIf="false">
                <mat-label>Type of account</mat-label>
                <mat-select formControlName="accountType" required>
                  <mat-option>-- Clear --</mat-option>
                  <mat-option *ngFor="let accountType of environment.inputs.accountType.types" [value]="accountType">
                    {{ accountType }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="registrationFormStep2.get('accountType').invalid">
                  {{ getErrorMessage('registrationFormStep2', 'accountType') }}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" *ngIf="true">
                <mat-label>Type of account</mat-label>
                <input matInput formControlName="accountType" required readonly />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>First name</mat-label>
                <input
                  matInput
                  formControlName="firstName"
                  required
                  [value]="registrationFormStep2.get('firstName').value | titlecase"
                  readonly
                />
                <mat-error *ngIf="registrationFormStep2.get('firstName').invalid">
                  {{ getErrorMessage('registrationFormStep2', 'firstName') }}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Last name</mat-label>
                <input
                  matInput
                  formControlName="lastName"
                  required
                  [value]="registrationFormStep2.get('lastName').value | titlecase"
                  readonly
                />
                <mat-error *ngIf="registrationFormStep2.get('lastName').invalid">
                  {{ getErrorMessage('registrationFormStep2', 'lastName') }}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Birth day</mat-label>
                <input
                  matInput
                  type="date"
                  formControlName="birthDay"
                  required
                  [min]="environment.inputs.birthDay.acceptedRange.minDate"
                  [max]="environment.inputs.birthDay.acceptedRange.maxDate"
                  readonly
                />
                <mat-error *ngIf="registrationFormStep2.get('birthDay').invalid">
                  {{ getErrorMessage('registrationFormStep2', 'birthDay') }}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Phone number</mat-label>
                <input
                  matInput
                  type="tel"
                  formControlName="phoneNumber"
                  maxlength="14"
                  required
                  (input)="formatPhoneNumber($event, 'registrationFormStep2', 'phoneNumber')"
                  placeholder="Ex. (555) 555-1234"
                  [readonly]="environment.inputs.phoneNumber.readonly"
                />
                <mat-error *ngIf="registrationFormStep2.get('phoneNumber').invalid">
                  {{ getErrorMessage('registrationFormStep2', 'phoneNumber') }}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <input
                  matInput
                  formControlName="address"
                  required
                  placeholder="Ex. 123 Main St Apt 10"
                  [value]="registrationFormStep2.get('address').value | titlecase"
                  [readonly]="environment.inputs.address.readonly"
                />
                <mat-error *ngIf="registrationFormStep2.get('address').invalid">
                  {{ getErrorMessage('registrationFormStep2', 'address') }}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <input
                  matInput
                  formControlName="city"
                  required
                  placeholder="Ex. Montreal"
                  [value]="registrationFormStep2.get('city').value | titlecase"
                  [readonly]="environment.inputs.city.readonly"
                />
                <mat-error *ngIf="registrationFormStep2.get('city').invalid">
                  {{ getErrorMessage('registrationFormStep2', 'city') }}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" *ngIf="!environment.inputs.country.readonly">
                <mat-label>Country</mat-label>
                <mat-select formControlName="country" required (selectionChange)="onCountryValueChange('registrationFormStep2')">
                  <mat-option
                    *ngIf="registrationFormStep2.get('country').value"
                    [value]="registrationFormStep2.get('country').value"
                    disabled
                  >
                    <mat-icon
                      class="flag-icon"
                      svgIcon="{{
                        'flag-'.concat(
                          countries[findSelectedCountryIndex('registrationFormStep2', 'country')].countryShortCode.toLowerCase()
                        )
                      }}"
                    ></mat-icon>
                    {{ registrationFormStep2.get('country').value }} (Selected)
                  </mat-option>
                  <mat-option>-- Clear --</mat-option>
                  <mat-option *ngFor="let country of countries" [value]="country.countryName">
                    <mat-icon class="flag-icon" svgIcon="{{ 'flag-'.concat(country.countryShortCode.toLowerCase()) }}"></mat-icon>
                    {{ country.countryName }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="registrationFormStep2.get('country').invalid">
                  {{ getErrorMessage('registrationFormStep2', 'country') }}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" *ngIf="environment.inputs.country.readonly">
                <mat-label>Country</mat-label>
                <input matInput formControlName="country" required readonly />
              </mat-form-field>
              <mat-form-field appearance="outline" *ngIf="!environment.inputs.province.readonly">
                <mat-label>State/Province/Region</mat-label>
                <mat-select formControlName="province" required>
                  <mat-option>-- Clear --</mat-option>
                  <mat-option
                    *ngFor="
                      let province of countries[findSelectedCountryIndex('registrationFormStep2', 'country')]
                        ? countries[findSelectedCountryIndex('registrationFormStep2', 'country')].regions
                        : []
                    "
                    [value]="province.name + ' (' + province.shortCode + ')'"
                  >
                    {{ province.name }} ({{ province.shortCode }})
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="registrationFormStep2.get('province').invalid">
                  {{ getErrorMessage('registrationFormStep2', 'province') }}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" *ngIf="environment.inputs.province.readonly">
                <mat-label>State/Province/Region</mat-label>
                <input matInput formControlName="province" required readonly />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Zip/Postal code</mat-label>
                <input
                  matInput
                  formControlName="postalCode"
                  maxlength="14"
                  required
                  [value]="registrationFormStep2.get('postalCode').value | uppercase"
                  (input)="formatCanadianPostalCode($event, 'registrationFormStep2')"
                  placeholder="Ex. J4K 5G7"
                  [readonly]="environment.inputs.postalCode.readonly"
                />
                <mat-error *ngIf="registrationFormStep2.get('postalCode').invalid">
                  {{ getErrorMessage('registrationFormStep2', 'postalCode') }}
                </mat-error>
              </mat-form-field>
            </form>
            <form [formGroup]="registrationFormStep3" id="registration-form-step-3" (change)="onFormChange('registrationFormStep3')">
              <mat-form-field appearance="outline">
                <mat-label>Social Insurance Number</mat-label>
                <input
                  matInput
                  formControlName="socialInsuranceNumber"
                  maxlength="11"
                  required
                  (input)="formatSocialInsuranceNumber($event, 'registrationFormStep3')"
                  placeholder="Ex. 111-111-111"
                  (blur)="formatSocialInsuranceNumber($event, 'registrationFormStep3')"
                  readonly
                />
                <mat-error *ngIf="registrationFormStep3.get('socialInsuranceNumber').invalid">
                  {{ getErrorMessage('registrationFormStep3', 'socialInsuranceNumber') }}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Profession</mat-label>
                <input
                  matInput
                  formControlName="profession"
                  required
                  [value]="registrationFormStep3.get('profession').value | titlecase"
                  [readonly]="environment.inputs.profession.readonly"
                />
                <mat-error *ngIf="registrationFormStep3.get('profession').invalid">
                  {{ getErrorMessage('registrationFormStep3', 'profession') }}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Employer</mat-label>
                <input
                  matInput
                  formControlName="employer"
                  required
                  [value]="registrationFormStep3.get('employer').value | titlecase"
                  [readonly]="environment.inputs.employer.readonly"
                />
                <mat-error *ngIf="registrationFormStep3.get('employer').invalid">
                  {{ getErrorMessage('registrationFormStep3', 'employer') }}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Employer phone number</mat-label>
                <input
                  matInput
                  type="tel"
                  formControlName="employerPhoneNumber"
                  maxlength="14"
                  required
                  (input)="formatPhoneNumber($event, 'registrationFormStep3', 'employerPhoneNumber')"
                  placeholder="Ex. (555) 555-1234"
                  [readonly]="environment.inputs.employerPhoneNumber.readonly"
                />
                <mat-error *ngIf="registrationFormStep3.get('employerPhoneNumber').invalid">
                  {{ getErrorMessage('registrationFormStep3', 'employerPhoneNumber') }}
                </mat-error>
              </mat-form-field>
            </form>
          </ng-template>
        </mat-tab>
        <!-- Joint member informations tab -->
        <mat-tab label="Joint member informations" [disabled]="tabsDisabled[2]" *ngIf="isActive">
          <ng-template matTabContent>
            <form [formGroup]="registrationFormStep4" id="registration-form-step-4" (change)="onFormChange('registrationFormStep4')">
              <mat-form-field appearance="outline">
                <mat-label>First name</mat-label>
                <input
                  matInput
                  formControlName="firstName"
                  required
                  [value]="registrationFormStep4.get('firstName').value | titlecase"
                  readonly
                />
                <mat-error *ngIf="registrationFormStep4.get('firstName').invalid">
                  {{ getErrorMessage('registrationFormStep4', 'firstName') }}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Last name</mat-label>
                <input
                  matInput
                  formControlName="lastName"
                  required
                  [value]="registrationFormStep4.get('lastName').value | titlecase"
                  readonly
                />
                <mat-error *ngIf="registrationFormStep4.get('lastName').invalid">
                  {{ getErrorMessage('registrationFormStep4', 'lastName') }}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <input
                  matInput
                  formControlName="address"
                  required
                  placeholder="Ex. 123 Main St Apt 10"
                  [value]="registrationFormStep4.get('address').value | titlecase"
                  [readonly]="environment.inputs.address.readonly"
                />
                <mat-error *ngIf="registrationFormStep4.get('address').invalid">
                  {{ getErrorMessage('registrationFormStep4', 'address') }}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <input
                  matInput
                  formControlName="city"
                  required
                  placeholder="Ex. Montreal"
                  [value]="registrationFormStep4.get('city').value | titlecase"
                  [readonly]="environment.inputs.city.readonly"
                />
                <mat-error *ngIf="registrationFormStep4.get('city').invalid">
                  {{ getErrorMessage('registrationFormStep4', 'city') }}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" *ngIf="!environment.inputs.country.readonly">
                <mat-label>Country</mat-label>
                <mat-select formControlName="country" required (selectionChange)="onCountryValueChange('registrationFormStep4')">
                  <mat-option
                    *ngIf="registrationFormStep4.get('country').value"
                    [value]="registrationFormStep4.get('country').value"
                    disabled
                  >
                    <mat-icon
                      class="flag-icon"
                      svgIcon="{{
                        'flag-'.concat(
                          countries[findSelectedCountryIndex('registrationFormStep4', 'country')].countryShortCode.toLowerCase()
                        )
                      }}"
                    ></mat-icon>
                    {{ registrationFormStep4.get('country').value }} (Selected)
                  </mat-option>
                  <mat-option>-- Clear --</mat-option>
                  <mat-option *ngFor="let country of countries" [value]="country.countryName">
                    <mat-icon class="flag-icon" svgIcon="{{ 'flag-'.concat(country.countryShortCode.toLowerCase()) }}"></mat-icon>
                    {{ country.countryName }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="registrationFormStep4.get('country').invalid">
                  {{ getErrorMessage('registrationFormStep4', 'country') }}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" *ngIf="environment.inputs.country.readonly">
                <mat-label>Country</mat-label>
                <input matInput formControlName="country" required readonly />
              </mat-form-field>
              <mat-form-field appearance="outline" *ngIf="!environment.inputs.province.readonly">
                <mat-label>State/Province/Region</mat-label>
                <mat-select formControlName="province" required>
                  <mat-option>-- Clear --</mat-option>
                  <mat-option
                    *ngFor="
                      let province of countries[findSelectedCountryIndex('registrationFormStep4', 'country')]
                        ? countries[findSelectedCountryIndex('registrationFormStep4', 'country')].regions
                        : []
                    "
                    [value]="province.name + ' (' + province.shortCode + ')'"
                  >
                    {{ province.name }} ({{ province.shortCode }})
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="registrationFormStep4.get('province').invalid">
                  {{ getErrorMessage('registrationFormStep4', 'province') }}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" *ngIf="environment.inputs.province.readonly">
                <mat-label>State/Province/Region</mat-label>
                <input matInput formControlName="province" required readonly />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Zip/Postal code</mat-label>
                <input
                  matInput
                  formControlName="postalCode"
                  maxlength="14"
                  required
                  [value]="registrationFormStep4.get('postalCode').value | uppercase"
                  (input)="formatCanadianPostalCode($event, 'registrationFormStep4')"
                  placeholder="Ex. J4K 5G7"
                  [readonly]="environment.inputs.postalCode.readonly"
                />
                <mat-error *ngIf="registrationFormStep4.get('postalCode').invalid">
                  {{ getErrorMessage('registrationFormStep4', 'postalCode') }}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Social Insurance Number</mat-label>
                <input
                  matInput
                  formControlName="socialInsuranceNumber"
                  maxlength="11"
                  required
                  (input)="formatSocialInsuranceNumber($event, 'registrationFormStep4')"
                  placeholder="Ex. 111-111-111"
                  (blur)="formatSocialInsuranceNumber($event, 'registrationFormStep4')"
                  readonly
                />
                <mat-error *ngIf="registrationFormStep4.get('socialInsuranceNumber').invalid">
                  {{ getErrorMessage('registrationFormStep4', 'socialInsuranceNumber') }}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Profession</mat-label>
                <input
                  matInput
                  formControlName="profession"
                  required
                  [value]="registrationFormStep4.get('profession').value | titlecase"
                  [readonly]="environment.inputs.profession.readonly"
                />
                <mat-error *ngIf="registrationFormStep4.get('profession').invalid">
                  {{ getErrorMessage('registrationFormStep4', 'profession') }}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Relationship</mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="relationship"
                  required
                  [matAutocomplete]="auto"
                  [value]="registrationFormStep4.get('relationship').value | titlecase"
                  placeholder="Ex. Wife"
                  [readonly]="environment.inputs.relationship.readonly"
                />
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let relationshipType of filteredRelationshipTypes | async" [value]="relationshipType">
                    {{ relationshipType }}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="registrationFormStep4.get('relationship').invalid">
                  {{ getErrorMessage('registrationFormStep4', 'relationship') }}
                </mat-error>
              </mat-form-field>
            </form>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
