<div class="user-profil-container">
  <mat-toolbar color="primary" [class.mat-elevation-z4]="true">
    <a mat-icon-button matTooltip="Home" href="/">
      <mat-icon class="material-icons-round">home</mat-icon>
    </a>
    <div>
      <button
        type="button"
        mat-icon-button
        (click)="readonly ? userProfilService.onEdit() : userProfilService.onSave([loginForm, mainHolderForm, jointMemberForm])"
        matTooltip="{{ readonly ? 'Edit your account information' : 'Save modifications' }}"
      >
        <mat-icon class="material-icons-round">{{ readonly ? 'edit' : 'save' }}</mat-icon>
      </button>
      <a mat-icon-button matTooltip="Logout" href="/logout">
        <mat-icon>logout</mat-icon>
      </a>
    </div>
  </mat-toolbar>
  <div class="user-profil-form-container">
    <div class="my-account-title">
      <span>My account</span>
    </div>
    <div class="my-account-expand-buttons">
      <button mat-button color="primary" (click)="accordion.openAll()">Expand All</button>
      <button mat-button color="primary" (click)="accordion.closeAll()">Collapse All</button>
    </div>
    <mat-accordion class="my-account-forms" multi>
      <!-- Login information -->
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>1- Login information</mat-panel-title>
          <mat-panel-description>
            <mat-icon class="material-icons-round">vpn_key</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <form [formGroup]="loginForm" id="login-form">
          <mat-form-field appearance="outline">
            <mat-label>Email address</mat-label>
            <input matInput type="email" placeholder="user@example.com" formControlName="email" required readonly />
            <mat-error *ngIf="loginForm.get('email').invalid">
              {{ registrationService.getErrorMessage(loginForm, 'email') }}
            </mat-error>
            <button mat-icon-button matPrefix disabled>
              <mat-icon class="material-icons-round">email</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field appearance="outline" hintLabel="{{ readonly ? '' : environment.inputs.password.hintLabel }}">
            <mat-label>Password</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              formControlName="password"
              required
              (input)="registrationService.onPasswordValueChange(loginForm)"
              #passwordInput
              maxlength="32"
              [readonly]="readonly"
            />
            <mat-hint align="end" *ngIf="!readonly">{{ passwordInput.value?.length || 0 }}/32</mat-hint>
            <mat-error *ngIf="loginForm.get('password').invalid">
              {{ registrationService.getErrorMessage(loginForm, 'password') }}
            </mat-error>
            <button mat-icon-button matPrefix disabled>
              <mat-icon class="material-icons-round">lock</mat-icon>
            </button>
            <button
              type="button"
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
              matTooltip="{{ hide ? 'Show password' : 'Hide password' }}"
            >
              <mat-icon class="material-icons-round">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field appearance="outline" *ngIf="!readonly">
            <mat-label>Confirm your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" required [readonly]="readonly" />
            <mat-error *ngIf="loginForm.get('confirmPassword').invalid">
              {{ registrationService.getErrorMessage(loginForm, 'confirmPassword') }}</mat-error
            >
            <button mat-icon-button matPrefix disabled>
              <mat-icon class="material-icons-round">lock</mat-icon>
            </button>
            <button
              type="button"
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
              matTooltip="{{ hide ? 'Show password' : 'Hide password' }}"
            >
              <mat-icon class="material-icons-round">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </mat-form-field>
        </form>
      </mat-expansion-panel>
      <!-- Main holder information -->
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>2- Main holder information</mat-panel-title>
          <mat-panel-description>
            <mat-icon class="material-icons-round">person</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <form [formGroup]="mainHolderForm" id="main-holder-form">
          <mat-form-field appearance="outline" *ngIf="readonly">
            <mat-label>Indicate the type of membership</mat-label>
            <input
              matInput
              formControlName="membershipType"
              required
              [value]="mainHolderForm.get('membershipType').value | titlecase"
              readonly
            />
            <mat-error *ngIf="mainHolderForm.get('membershipType').invalid">
              {{ registrationService.getErrorMessage(mainHolderForm, 'membershipType') }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" *ngIf="!readonly">
            <mat-label>Indicate the type of membership</mat-label>
            <mat-select formControlName="membershipType" required>
              <mat-option>-- Clear --</mat-option>
              <mat-option *ngFor="let membershipType of environment.inputs.membershipType.types" [value]="membershipType">
                {{ membershipType }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="mainHolderForm.get('membershipType').invalid">
              {{ registrationService.getErrorMessage(mainHolderForm, 'membershipType') }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" *ngIf="readonly">
            <mat-label>Indicate the type of account</mat-label>
            <input matInput formControlName="accountType" required [value]="mainHolderForm.get('accountType').value | titlecase" readonly />
            <mat-error *ngIf="mainHolderForm.get('accountType').invalid">
              {{ registrationService.getErrorMessage(mainHolderForm, 'accountType') }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" *ngIf="!readonly">
            <mat-label>Indicate the type of account</mat-label>
            <mat-select
              formControlName="accountType"
              required
              (selectionChange)="registrationService.onAccountTypeSelectionChange(mainHolderForm, jointMemberForm)"
            >
              <mat-option>-- Clear --</mat-option>
              <mat-option *ngFor="let accountType of environment.inputs.accountType.types" [value]="accountType">
                {{ accountType }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="mainHolderForm.get('accountType').invalid">
              {{ registrationService.getErrorMessage(mainHolderForm, 'accountType') }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" required [value]="mainHolderForm.get('title').value | titlecase" readonly />
            <mat-error *ngIf="mainHolderForm.get('title').invalid">
              {{ registrationService.getErrorMessage(mainHolderForm, 'title') }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>First name</mat-label>
            <input matInput formControlName="firstName" required [value]="mainHolderForm.get('firstName').value | titlecase" readonly />
            <mat-error *ngIf="mainHolderForm.get('firstName').invalid">
              {{ registrationService.getErrorMessage(mainHolderForm, 'firstName') }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input
              matInput
              formControlName="address"
              required
              placeholder="Ex. 123 Main St Apt 10"
              [value]="mainHolderForm.get('address').value | titlecase"
              [readonly]="readonly"
            />
            <mat-error *ngIf="mainHolderForm.get('address').invalid">
              {{ registrationService.getErrorMessage(mainHolderForm, 'address') }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Last name</mat-label>
            <input matInput formControlName="lastName" required [value]="mainHolderForm.get('lastName').value | titlecase" readonly />
            <mat-error *ngIf="mainHolderForm.get('lastName').invalid">
              {{ registrationService.getErrorMessage(mainHolderForm, 'lastName') }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" *ngIf="readonly">
            <mat-label>Country</mat-label>
            <input matInput formControlName="country" required [value]="mainHolderForm.get('country').value | titlecase" readonly />
            <mat-error *ngIf="mainHolderForm.get('country').invalid">
              {{ registrationService.getErrorMessage(mainHolderForm, 'country') }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" *ngIf="!readonly">
            <mat-label>Country</mat-label>
            <mat-select formControlName="country" required (selectionChange)="registrationService.onCountryValueChange(mainHolderForm)">
              <mat-option>-- Clear --</mat-option>
              <mat-option value="Canada">
                <img class="flag-icon" src="../../assets/countries-flags-png/ca.png" />
                Canada
              </mat-option>
              <mat-option value="United States">
                <img class="flag-icon" src="../../assets/countries-flags-png/us.png" />
                United States
              </mat-option>
              <mat-option disabled>
                <mat-divider></mat-divider>
              </mat-option>
              <mat-option *ngFor="let country of countries" [value]="country.countryName">
                <img
                  class="flag-icon"
                  src="{{ '../../assets/countries-flags-png/'.concat(country.countryShortCode.toLowerCase()).concat('.png') }}"
                />
                {{ country.countryName }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="mainHolderForm.get('country').invalid">
              {{ registrationService.getErrorMessage(mainHolderForm, 'country') }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input
              matInput
              formControlName="city"
              required
              placeholder="Ex. Montreal"
              [value]="mainHolderForm.get('city').value | titlecase"
              [readonly]="readonly"
            />
            <mat-error *ngIf="mainHolderForm.get('city').invalid">
              {{ registrationService.getErrorMessage(mainHolderForm, 'city') }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Birth day</mat-label>
            <input
              matInput
              type="date"
              formControlName="birthDay"
              required
              [min]="environment.inputs.birthDay.acceptedRange.minDate"
              readonly
            />
            <mat-error *ngIf="mainHolderForm.get('birthDay').invalid">
              {{ registrationService.getErrorMessage(mainHolderForm, 'birthDay') }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Phone number</mat-label>
            <input
              matInput
              type="tel"
              formControlName="phoneNumber"
              [maxlength]="environment.inputs.phoneNumber.maxLength"
              required
              placeholder="Ex. (555) 555-1234 (for Canada)"
              (input)="registrationService.formatPhoneNumber($event, mainHolderForm, 'phoneNumber')"
              (blur)="registrationService.formatPhoneNumber($event, mainHolderForm, 'phoneNumber')"
              [readonly]="readonly"
            />
            <mat-error *ngIf="mainHolderForm.get('phoneNumber').invalid">
              {{ registrationService.getErrorMessage(mainHolderForm, 'phoneNumber') }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" *ngIf="readonly">
            <mat-label>State/Province/Region</mat-label>
            <input matInput formControlName="province" required [value]="mainHolderForm.get('province').value | titlecase" readonly />
            <mat-error *ngIf="mainHolderForm.get('province').invalid">
              {{ registrationService.getErrorMessage(mainHolderForm, 'province') }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" *ngIf="!readonly">
            <mat-label>State/Province/Region</mat-label>
            <mat-select formControlName="province" required>
              <mat-option>-- Clear --</mat-option>
              <mat-option
                *ngFor="
                  let province of countries[registrationService.findSelectedCountryIndex(mainHolderForm)]
                    ? countries[registrationService.findSelectedCountryIndex(mainHolderForm)].regions
                    : []
                "
                [value]="province.name + ' (' + province.shortCode + ')'"
              >
                {{ province.name }} ({{ province.shortCode }})
              </mat-option>
            </mat-select>
            <mat-error *ngIf="mainHolderForm.get('province').invalid">
              {{ registrationService.getErrorMessage(mainHolderForm, 'province') }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Zip/Postal code</mat-label>
            <input
              matInput
              formControlName="postalCode"
              maxlength="14"
              required
              [value]="mainHolderForm.get('postalCode').value | uppercase"
              (input)="registrationService.formatCanadianPostalCode($event, mainHolderForm)"
              (blur)="registrationService.formatCanadianPostalCode($event, mainHolderForm)"
              placeholder="Ex. J4K 5G7 (for Canada)"
              [readonly]="readonly"
            />
            <mat-error *ngIf="mainHolderForm.get('postalCode').invalid">
              {{ registrationService.getErrorMessage(mainHolderForm, 'postalCode') }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Social Insurance Number</mat-label>
            <input
              matInput
              formControlName="socialInsuranceNumber"
              maxlength="11"
              required
              placeholder="Ex. 111-111-111"
              (input)="registrationService.formatSocialInsuranceNumber($event, mainHolderForm)"
              (blur)="registrationService.formatSocialInsuranceNumber($event, mainHolderForm)"
              readonly
            />
            <mat-error *ngIf="mainHolderForm.get('socialInsuranceNumber').invalid">
              {{ registrationService.getErrorMessage(mainHolderForm, 'socialInsuranceNumber') }}
            </mat-error>
            <button
              mat-icon-button
              matSuffix
              type="button"
              [matTooltip]="environment.inputs.socialInsuranceNumber.tooltip"
              matTooltipPosition="above"
              matTooltipClass="social-insurance-number-tooltip"
              class="social-insurance-number-tooltip-button"
              *ngIf="!readonly"
            >
              <mat-icon class="material-icons-round">info</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Profession</mat-label>
            <input
              matInput
              formControlName="profession"
              [value]="mainHolderForm.get('profession').value | titlecase"
              [readonly]="readonly"
            />
            <mat-error *ngIf="mainHolderForm.get('profession').invalid">
              {{ registrationService.getErrorMessage(mainHolderForm, 'profession') }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Employer</mat-label>
            <input matInput formControlName="employer" [value]="mainHolderForm.get('employer').value | titlecase" [readonly]="readonly" />
            <mat-error *ngIf="mainHolderForm.get('employer').invalid">
              {{ registrationService.getErrorMessage(mainHolderForm, 'employer') }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Employer phone number</mat-label>
            <input
              matInput
              type="tel"
              formControlName="employerPhoneNumber"
              [maxlength]="environment.inputs.phoneNumber.maxLength"
              placeholder="Ex. (555) 555-1234 (for Canada)"
              (input)="registrationService.formatPhoneNumber($event, mainHolderForm, 'employerPhoneNumber')"
              (blur)="registrationService.formatPhoneNumber($event, mainHolderForm, 'employerPhoneNumber')"
              [readonly]="readonly"
            />
            <mat-error *ngIf="mainHolderForm.get('employerPhoneNumber').invalid">
              {{ registrationService.getErrorMessage(mainHolderForm, 'employerPhoneNumber') }}
            </mat-error>
          </mat-form-field>
        </form>
      </mat-expansion-panel>
      <!-- Joint member information -->
      <mat-expansion-panel expanded *ngIf="jointMemberStatus">
        <mat-expansion-panel-header>
          <mat-panel-title>3- Joint member information</mat-panel-title>
          <mat-panel-description>
            <mat-icon class="material-icons-round">group</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <form [formGroup]="jointMemberForm" id="joint-member-form">
          <mat-form-field appearance="outline" *ngIf="readonly">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" required [value]="jointMemberForm.get('title').value | titlecase" readonly />
            <mat-error *ngIf="jointMemberForm.get('title').invalid">
              {{ registrationService.getErrorMessage(jointMemberForm, 'title') }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" *ngIf="!readonly">
            <mat-label>Title</mat-label>
            <mat-select formControlName="title" required>
              <mat-option>-- Clear --</mat-option>
              <mat-option *ngFor="let title of environment.inputs.title.titles" [value]="title">
                {{ title }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="jointMemberForm.get('title').invalid">
              {{ registrationService.getErrorMessage(jointMemberForm, 'title') }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>First name</mat-label>
            <input
              matInput
              formControlName="firstName"
              required
              [value]="jointMemberForm.get('firstName').value | titlecase"
              [readonly]="readonly"
            />
            <mat-error *ngIf="jointMemberForm.get('firstName').invalid">
              {{ registrationService.getErrorMessage(jointMemberForm, 'firstName') }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input
              matInput
              formControlName="address"
              required
              placeholder="Ex. 123 Main St Apt 10"
              [value]="jointMemberForm.get('address').value | titlecase"
              [readonly]="readonly"
            />
            <mat-error *ngIf="jointMemberForm.get('address').invalid">
              {{ registrationService.getErrorMessage(jointMemberForm, 'address') }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Last name</mat-label>
            <input
              matInput
              formControlName="lastName"
              required
              [value]="jointMemberForm.get('lastName').value | titlecase"
              [readonly]="readonly"
            />
            <mat-error *ngIf="jointMemberForm.get('lastName').invalid">
              {{ registrationService.getErrorMessage(jointMemberForm, 'lastName') }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" *ngIf="readonly">
            <mat-label>Country</mat-label>
            <input matInput formControlName="country" required [value]="jointMemberForm.get('country').value | titlecase" readonly />
            <mat-error *ngIf="jointMemberForm.get('country').invalid">
              {{ registrationService.getErrorMessage(jointMemberForm, 'country') }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" *ngIf="!readonly">
            <mat-label>Country</mat-label>
            <mat-select formControlName="country" required (selectionChange)="registrationService.onCountryValueChange(jointMemberForm)">
              <mat-option>-- Clear --</mat-option>
              <mat-option value="Canada">
                <img class="flag-icon" src="../../assets/countries-flags-png/ca.png" />
                Canada
              </mat-option>
              <mat-option value="United States">
                <img class="flag-icon" src="../../assets/countries-flags-png/us.png" />
                United States
              </mat-option>
              <mat-option disabled>
                <mat-divider></mat-divider>
              </mat-option>
              <mat-option *ngFor="let country of countries" [value]="country.countryName">
                <img
                  class="flag-icon"
                  src="{{ '../../assets/countries-flags-png/'.concat(country.countryShortCode.toLowerCase()).concat('.png') }}"
                />
                {{ country.countryName }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="jointMemberForm.get('country').invalid">
              {{ registrationService.getErrorMessage(jointMemberForm, 'country') }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input
              matInput
              formControlName="city"
              required
              placeholder="Ex. Montreal"
              [value]="jointMemberForm.get('city').value | titlecase"
              [readonly]="readonly"
            />
            <mat-error *ngIf="jointMemberForm.get('city').invalid">
              {{ registrationService.getErrorMessage(jointMemberForm, 'city') }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Social Insurance Number</mat-label>
            <input
              matInput
              formControlName="socialInsuranceNumber"
              maxlength="11"
              required
              placeholder="Ex. 111-111-111"
              (input)="registrationService.formatSocialInsuranceNumber($event, jointMemberForm)"
              (blur)="registrationService.formatSocialInsuranceNumber($event, jointMemberForm)"
              [readonly]="readonly"
            />
            <mat-error *ngIf="jointMemberForm.get('socialInsuranceNumber').invalid">
              {{ registrationService.getErrorMessage(jointMemberForm, 'socialInsuranceNumber') }}
            </mat-error>
            <button
              mat-icon-button
              matSuffix
              type="button"
              [matTooltip]="environment.inputs.socialInsuranceNumber.tooltip"
              matTooltipPosition="above"
              matTooltipClass="social-insurance-number-tooltip"
              class="social-insurance-number-tooltip-button"
              *ngIf="!readonly"
            >
              <mat-icon class="material-icons-round">info</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field appearance="outline" *ngIf="readonly">
            <mat-label>State/Province/Region</mat-label>
            <input matInput formControlName="province" required [value]="jointMemberForm.get('province').value | titlecase" readonly />
            <mat-error *ngIf="jointMemberForm.get('province').invalid">
              {{ registrationService.getErrorMessage(jointMemberForm, 'province') }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" *ngIf="!readonly">
            <mat-label>State/Province/Region</mat-label>
            <mat-select formControlName="province" required>
              <mat-option>-- Clear --</mat-option>
              <mat-option
                *ngFor="
                  let province of countries[registrationService.findSelectedCountryIndex(jointMemberForm)]
                    ? countries[registrationService.findSelectedCountryIndex(jointMemberForm)].regions
                    : []
                "
                [value]="province.name + ' (' + province.shortCode + ')'"
              >
                {{ province.name }} ({{ province.shortCode }})
              </mat-option>
            </mat-select>
            <mat-error *ngIf="jointMemberForm.get('province').invalid">
              {{ registrationService.getErrorMessage(jointMemberForm, 'province') }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Zip/Postal code</mat-label>
            <input
              matInput
              formControlName="postalCode"
              maxlength="14"
              required
              [value]="jointMemberForm.get('postalCode').value | uppercase"
              (input)="registrationService.formatCanadianPostalCode($event, jointMemberForm)"
              (blur)="registrationService.formatCanadianPostalCode($event, jointMemberForm)"
              placeholder="Ex. J4K 5G7 (for Canada)"
              [readonly]="readonly"
            />
            <mat-error *ngIf="jointMemberForm.get('postalCode').invalid">
              {{ registrationService.getErrorMessage(jointMemberForm, 'postalCode') }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Profession</mat-label>
            <input
              matInput
              formControlName="profession"
              [value]="jointMemberForm.get('profession').value | titlecase"
              [readonly]="readonly"
            />
            <mat-error *ngIf="jointMemberForm.get('profession').invalid">
              {{ registrationService.getErrorMessage(jointMemberForm, 'profession') }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Relationship</mat-label>
            <input
              matInput
              type="text"
              formControlName="relationship"
              required
              [matAutocomplete]="auto"
              [value]="jointMemberForm.get('relationship').value | titlecase"
              placeholder="Ex. Wife"
              [readonly]="readonly"
            />
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let relationship of filteredRelationships | async" [value]="relationship">
                {{ relationship }}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="jointMemberForm.get('relationship').invalid">
              {{ registrationService.getErrorMessage(jointMemberForm, 'relationship') }}
            </mat-error>
          </mat-form-field>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
