/* Global user-profil css */
.user-profil-container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 245, 245);
}

.user-profil-container mat-toolbar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  height: 50px;
}

.user-profil-form-container {
  margin-top: 55px;
  width: 1000px;
  height: 598px;
}

.user-profil-form-container mat-card-header {
  display: flex;
  justify-content: center;
  color: rgb(70, 70, 70);
  height: 40px;
}

.user-profil-form-container mat-card-content {
  height: calc(100% - 40px);
}

.user-profil-form-container mat-card-content mat-tab-group {
  height: 100%;
}

.user-profil-form-container mat-card-content mat-tab-group form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-right: 10px;
}

.flag-icon {
  width: 22px;
  height: 18px;
  margin-right: 14px;
  vertical-align: middle;
}

.user-profil-form-container mat-card-content mat-tab-group form mat-form-field {
  flex-basis: 49%;
}

.user-profil-form-container mat-card-content mat-tab-group form h4 {
  flex-basis: 100%;
  color: #3f51b5;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* End global user-profil css */

/* Login form css */
.user-profil-form-container mat-card-content mat-tab-group form#login-form mat-form-field:nth-child(2) {
  flex-basis: 100%;
}
/* End login form css */

/* Common to main holder & joint member forms */
.user-profil-form-container mat-card-content mat-tab-group form#main-holder-form mat-form-field:nth-child(4),
.user-profil-form-container mat-card-content mat-tab-group form#joint-member-form mat-form-field:nth-child(2) {
  flex-basis: 10%;
}

.user-profil-form-container mat-card-content mat-tab-group form#main-holder-form mat-form-field:nth-child(5),
.user-profil-form-container mat-card-content mat-tab-group form#joint-member-form mat-form-field:nth-child(3) {
  flex-basis: 37%;
}

::ng-deep
  .user-profil-form-container
  mat-card-content
  mat-tab-group
  form#main-holder-form
  mat-form-field:nth-child(4)
  .mat-form-field-infix,
::ng-deep
  .user-profil-form-container
  mat-card-content
  mat-tab-group
  form#main-holder-form
  mat-form-field:nth-child(14)
  .mat-form-field-infix,
::ng-deep
  .user-profil-form-container
  mat-card-content
  mat-tab-group
  form#joint-member-form
  mat-form-field:nth-child(2)
  .mat-form-field-infix,
::ng-deep
  .user-profil-form-container
  mat-card-content
  mat-tab-group
  form#joint-member-form
  mat-form-field:nth-child(8)
  .mat-form-field-infix {
  width: 100%;
}

.user-profil-form-container mat-card-content mat-tab-group form .social-insurance-number-tooltip-button:hover {
  color: #3f51b5;
}

::ng-deep .social-insurance-number-tooltip {
  background: #3f51b5;
}
/* End of Common to main holder & joint member forms */

/* Main holder form css */
.user-profil-form-container mat-card-content mat-tab-group form#main-holder-form mat-form-field:nth-child(n + 8) {
  flex-basis: 23.5%;
}
/* End main holder form css */

/* Joint member form css */
.user-profil-form-container mat-card-content mat-tab-group form#joint-member-form mat-form-field:nth-child(n + 6):nth-child(-n + 7),
.user-profil-form-container mat-card-content mat-tab-group form#joint-member-form mat-form-field:nth-child(n + 9):nth-child(-n + 10) {
  flex-basis: 23.5%;
}
/* End joint member form css */
