.registration-container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 245, 245);
}

.registration-container mat-toolbar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.registration-form-container {
  margin-top: 60px;
  width: 1000px;
  height: 535px;
}

.registration-form-container mat-card-header {
  display: flex;
  justify-content: center;
  color: rgb(70, 70, 70);
  height: 40px;
}

.registration-form-container mat-card-content {
  height: calc(100% - 40px);
}

.registration-form-container mat-card-content mat-horizontal-stepper {
  height: 100%;
}

.registration-form-container mat-card-content mat-horizontal-stepper form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.flag-icon {
  color: initial;
}

.registration-form-container mat-card-content mat-horizontal-stepper h2,
.registration-form-container mat-card-content mat-horizontal-stepper div.stepper-navigation-button-container {
  flex-basis: 100%;
}

.registration-form-container mat-card-content mat-horizontal-stepper div.stepper-navigation-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.registration-form-container mat-card-content mat-horizontal-stepper div.stepper-navigation-button-container button ~ button {
  margin-left: 15px;
}

.registration-form-container mat-card-content mat-horizontal-stepper form mat-form-field {
  flex-basis: 49%;
}

.registration-form-container mat-card-content mat-horizontal-stepper form#registration-form-step-0,
.registration-form-container mat-card-content mat-horizontal-stepper form#registration-form-step-1 {
  display: flex;
  flex-flow: column wrap;
}

.registration-form-container mat-card-content mat-horizontal-stepper form#registration-form-step-0 div#opening-account-container {
  background-color: #f8f8f8;
  border: 1px solid #e2e2e2;
  padding: 15px;
  font-size: 14px;
  border-radius: 5px;
}

.registration-form-container
  mat-card-content
  mat-horizontal-stepper
  form#registration-form-step-0
  div#opening-account-container
  p:nth-of-type(1) {
  font-size: 20px;
}

.registration-form-container
  mat-card-content
  mat-horizontal-stepper
  form#registration-form-step-0
  div#opening-account-container
  p:nth-of-type(2) {
  font-size: 16px;
}

.registration-form-container
  mat-card-content
  mat-horizontal-stepper
  form#registration-form-step-0
  div#opening-account-container
  mat-divider.mat-divider {
  margin-bottom: 12px;
}

.registration-form-container mat-card-content mat-horizontal-stepper form#registration-form-step-0 div#opening-account-container ul {
  list-style: none;
}

.registration-form-container
  mat-card-content
  mat-horizontal-stepper
  form#registration-form-step-0
  div#opening-account-container
  ul
  li::before {
  content: '\2022';
  color: #3f51b5;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.registration-form-container mat-card-content mat-horizontal-stepper form#registration-form-step-1 h2 + div {
  background-color: #f8f8f8;
  border: 1px solid #e2e2e2;
  padding: 15px;
  font-size: 14px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.registration-form-container mat-card-content mat-horizontal-stepper form#registration-form-step-1 h2 + div p {
  margin: 0;
}

.registration-form-container mat-card-content mat-horizontal-stepper form#registration-form-step-2 mat-form-field:nth-child(6),
.registration-form-container mat-card-content mat-horizontal-stepper form#registration-form-step-2 mat-form-field:nth-child(7) {
  flex-basis: 23.5%;
}

.registration-form-container mat-card-content mat-horizontal-stepper form#registration-form-step-2 mat-form-field:nth-last-child(-n + 5) {
  flex-basis: 23.5%;
}

.registration-form-container mat-card-content mat-horizontal-stepper form#registration-form-step-3 mat-form-field:nth-last-child(-n + 5) {
  flex-basis: 23.5%;
}

.registration-form-container mat-card-content mat-horizontal-stepper form#registration-form-step-3 input.deposit-amount {
  text-align: right;
  -moz-appearance: textfield;
}

.registration-form-container
  mat-card-content
  mat-horizontal-stepper
  form#registration-form-step-3
  input.deposit-amount::-webkit-outer-spin-button,
.registration-form-container
  mat-card-content
  mat-horizontal-stepper
  form#registration-form-step-3
  input.deposit-amount::-webkit-inner-spin-button {
  display: none;
}

::ng-deep
  .registration-form-container
  mat-card-content
  mat-horizontal-stepper
  form#registration-form-step-3
  mat-form-field.mat-form-field-appearance-outline:nth-last-child(-n + 5)
  .mat-form-field-suffix {
  top: unset;
  white-space: unset;
}

.registration-form-container
  mat-card-content
  mat-horizontal-stepper
  form#registration-form-step-4
  mat-form-field:nth-child(n + 5):nth-child(-n + 8),
.registration-form-container mat-card-content mat-horizontal-stepper form#registration-form-step-4 mat-form-field:nth-child(n + 11) {
  flex-basis: 23.5%;
}

.registration-form-container mat-card-content mat-horizontal-stepper div#form-information-verification {
  display: flex;
  font-size: 12px;
  margin-bottom: 15px;
}

.registration-form-container mat-card-content mat-horizontal-stepper div.form-information-verification-joint p {
  flex-basis: 33.33%;
}

.registration-form-container mat-card-content mat-horizontal-stepper div.form-information-verification-individual p {
  flex-basis: 50%;
}

.registration-form-container mat-card-content mat-horizontal-stepper div#form-information-verification mat-divider.mat-divider {
  margin: 10px;
}

.registration-form-container mat-card-content mat-horizontal-stepper form .user-agreement-container {
  min-height: 44px;
}

.registration-form-container mat-card-content mat-horizontal-stepper form .user-agreement-container .mat-error {
  font-size: 10.5px;
  margin-left: 10.5px;
  animation: error-animation 0.5s;
}

@keyframes error-animation {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

::ng-deep .registration-form-container mat-card-content mat-horizontal-stepper form .user-agreement-container-invalid .mat-checkbox-label {
  color: #f44336;
}

::ng-deep .registration-form-container mat-card-content mat-horizontal-stepper form .user-agreement-container-invalid .mat-checkbox-frame {
  border-color: #f44336;
}
