<div class="registration-container">
  <mat-toolbar color="primary" [class.mat-elevation-z4]="true">
    <a mat-icon-button matTooltip="Home" href="/">
      <mat-icon class="material-icons-round">home</mat-icon>
    </a>
    <a mat-icon-button matTooltip="Login" href="/login">
      <mat-icon class="material-icons-round">login</mat-icon>
    </a>
  </mat-toolbar>
  <mat-card class="registration-form-container">
    <mat-card-header>
      <mat-card-title>Open an account</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-horizontal-stepper linear="true" #stepper (animationDone)="setRecaptchaValidators(); copyMainHolderAddress()">
        <!-- Step 1 -->
        <mat-step [stepControl]="registrationFormStep1" [editable]="isEditable">
          <form [formGroup]="registrationFormStep1" id="registration-form-step-1" #registrationFormStep1Ref="ngForm">
            <ng-template matStepLabel>Step 1</ng-template>
            <h2>Welcome</h2>
            <div id="opening-account-container">
              <p>Opening an account only takes a few minutes!</p>
              <mat-divider [inset]="true"></mat-divider>
              <p><strong>Make sure to have the following information on hand:</strong></p>
              <ul>
                <li *ngFor="let requiredInformation of environment.inputs.userAgreementStep1.requiredInformations">
                  {{ requiredInformation }}
                </li>
              </ul>
              <mat-divider [inset]="true"></mat-divider>
              <div
                class="user-agreement-container"
                [ngClass]="{
                  'user-agreement-container-invalid':
                    registrationFormStep1.get('userAgreementStep1').invalid && registrationFormStep1Ref.submitted
                }"
              >
                <mat-checkbox color="primary" formControlName="userAgreementStep1" required>
                  {{ environment.inputs.userAgreementStep1.checkBoxText }}
                </mat-checkbox>
                <mat-error *ngIf="registrationFormStep1.get('userAgreementStep1').invalid && registrationFormStep1Ref.submitted">
                  {{ getErrorMessage('registrationFormStep1', 'userAgreementStep1') }}
                </mat-error>
              </div>
            </div>
            <div class="stepper-navigation-button-container">
              <button class="stepper-navigation-button" mat-raised-button color="primary" matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <!-- Step 2 -->
        <mat-step [stepControl]="registrationFormStep2" [editable]="isEditable">
          <form [formGroup]="registrationFormStep2" id="registration-form-step-2" #registrationFormStep2Ref="ngForm">
            <ng-template matStepLabel>Step 2</ng-template>
            <h2>Login information</h2>
            <div>
              <p>
                Please note that by providing us with your email address, you consent to receive Fonds communications and notices of
                filings, such as your tax slips, solely by electronic means. If you wish to receive these documents by mail, you can change
                your communication preferences in your profile at any time after your enrollment is complete.
              </p>
            </div>
            <mat-form-field appearance="outline">
              <mat-label>Email address</mat-label>
              <input matInput type="email" placeholder="user@example.com" formControlName="email" required />
              <mat-error *ngIf="registrationFormStep2.get('email').invalid">
                {{ getErrorMessage('registrationFormStep2', 'email') }}
              </mat-error>
              <button mat-icon-button matPrefix disabled>
                <mat-icon class="material-icons-round">email</mat-icon>
              </button>
            </mat-form-field>
            <mat-form-field
              appearance="outline"
              hintLabel="Your password must contain at least 8 characters with at least 1 numeric character, 1 uppercase letter, 1 lowercase letter and 1 special character."
            >
              <mat-label>Password</mat-label>
              <input
                matInput
                [type]="hide ? 'password' : 'text'"
                formControlName="password"
                required
                (input)="onPasswordValueChange()"
                #passwordInput
                maxlength="32"
              />
              <mat-hint align="end">{{ passwordInput.value?.length || 0 }}/32</mat-hint>
              <mat-error *ngIf="registrationFormStep2.get('password').invalid">
                {{ getErrorMessage('registrationFormStep2', 'password') }}
              </mat-error>
              <button mat-icon-button matPrefix disabled>
                <mat-icon class="material-icons-round">lock</mat-icon>
              </button>
              <button
                type="button"
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
                matTooltip="{{ hide ? 'Show password' : 'Hide password' }}"
              >
                <mat-icon class="material-icons-round">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Confirm your password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" required />
              <mat-error *ngIf="registrationFormStep2.get('confirmPassword').invalid">
                {{ getErrorMessage('registrationFormStep2', 'confirmPassword') }}</mat-error
              >
              <button mat-icon-button matPrefix disabled>
                <mat-icon class="material-icons-round">lock</mat-icon>
              </button>
              <button
                type="button"
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
                matTooltip="{{ hide ? 'Show password' : 'Hide password' }}"
              >
                <mat-icon class="material-icons-round">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
            </mat-form-field>
            <div class="recaptcha-container">
              <re-captcha formControlName="reCaptcha" (resolved)="validateRecaptcha($event)" #reCaptcha></re-captcha>
              <mat-error *ngIf="registrationFormStep2.get('reCaptcha').invalid && registrationFormStep2Ref.submitted">
                {{ getErrorMessage('registrationFormStep2', 'reCaptcha') }}
              </mat-error>
            </div>
            <div class="stepper-navigation-button-container">
              <button class="stepper-navigation-button" mat-raised-button color="primary" matStepperPrevious>Back</button>
              <button class="stepper-navigation-button" mat-raised-button color="primary" matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <!-- Step 3 -->
        <mat-step [stepControl]="registrationFormStep3" [editable]="isEditable">
          <form [formGroup]="registrationFormStep3" id="registration-form-step-3">
            <ng-template matStepLabel>Step 3</ng-template>
            <h2>Main holder information</h2>
            <mat-form-field appearance="outline">
              <mat-label>Indicate the type of membership</mat-label>
              <mat-select formControlName="membershipType" required>
                <mat-option>-- Clear --</mat-option>
                <mat-option *ngFor="let membershipType of environment.inputs.membershipType.types" [value]="membershipType">
                  {{ membershipType }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="registrationFormStep3.get('membershipType').invalid">
                {{ getErrorMessage('registrationFormStep3', 'membershipType') }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Indicate the type of account</mat-label>
              <mat-select formControlName="accountType" required (selectionChange)="onAccountTypeSelectionChange()">
                <mat-option>-- Clear --</mat-option>
                <mat-option *ngFor="let accountType of environment.inputs.accountType.types" [value]="accountType">
                  {{ accountType }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="registrationFormStep3.get('accountType').invalid">
                {{ getErrorMessage('registrationFormStep3', 'accountType') }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Title</mat-label>
              <mat-select formControlName="title" required>
                <mat-option>-- Clear --</mat-option>
                <mat-option *ngFor="let title of environment.inputs.title.titles" [value]="title">
                  {{ title }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="registrationFormStep3.get('title').invalid">
                {{ getErrorMessage('registrationFormStep3', 'title') }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>First name</mat-label>
              <input matInput formControlName="firstName" required [value]="registrationFormStep3.get('firstName').value | titlecase" />
              <mat-error *ngIf="registrationFormStep3.get('firstName').invalid">
                {{ getErrorMessage('registrationFormStep3', 'firstName') }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Address</mat-label>
              <input
                matInput
                formControlName="address"
                required
                placeholder="Ex. 123 Main St Apt 10"
                [value]="registrationFormStep3.get('address').value | titlecase"
              />
              <mat-error *ngIf="registrationFormStep3.get('address').invalid">
                {{ getErrorMessage('registrationFormStep3', 'address') }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Last name</mat-label>
              <input matInput formControlName="lastName" required [value]="registrationFormStep3.get('lastName').value | titlecase" />
              <mat-error *ngIf="registrationFormStep3.get('lastName').invalid">
                {{ getErrorMessage('registrationFormStep3', 'lastName') }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Country</mat-label>
              <mat-select formControlName="country" required (selectionChange)="onCountryValueChange('registrationFormStep3')">
                <mat-option>-- Clear --</mat-option>
                <mat-option value="Canada">
                  <img class="flag-icon" src="../../assets/countries-flags-png/ca.png" />
                  Canada
                </mat-option>
                <mat-option value="United States">
                  <img class="flag-icon" src="../../assets/countries-flags-png/us.png" />
                  United States
                </mat-option>
                <mat-option disabled>
                  <mat-divider></mat-divider>
                </mat-option>
                <mat-option *ngFor="let country of countries" [value]="country.countryName">
                  <img
                    class="flag-icon"
                    src="{{ '../../assets/countries-flags-png/'.concat(country.countryShortCode.toLowerCase()).concat('.png') }}"
                  />
                  {{ country.countryName }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="registrationFormStep3.get('country').invalid">
                {{ getErrorMessage('registrationFormStep3', 'country') }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>City</mat-label>
              <input
                matInput
                formControlName="city"
                required
                placeholder="Ex. Montreal"
                [value]="registrationFormStep3.get('city').value | titlecase"
              />
              <mat-error *ngIf="registrationFormStep3.get('city').invalid">
                {{ getErrorMessage('registrationFormStep3', 'city') }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Birth day</mat-label>
              <input matInput type="date" formControlName="birthDay" required [min]="environment.inputs.birthDay.acceptedRange.minDate" />
              <mat-error *ngIf="registrationFormStep3.get('birthDay').invalid">
                {{ getErrorMessage('registrationFormStep3', 'birthDay') }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Phone number</mat-label>
              <input
                matInput
                type="tel"
                formControlName="phoneNumber"
                [maxlength]="environment.inputs.phoneNumber.maxLength"
                required
                placeholder="Ex. (555) 555-1234 (for Canada)"
                (input)="formatPhoneNumber($event, 'registrationFormStep3', 'phoneNumber')"
                (blur)="formatPhoneNumber($event, 'registrationFormStep3', 'phoneNumber')"
              />
              <mat-error *ngIf="registrationFormStep3.get('phoneNumber').invalid">
                {{ getErrorMessage('registrationFormStep3', 'phoneNumber') }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>State/Province/Region</mat-label>
              <mat-select formControlName="province" required>
                <mat-option>-- Clear --</mat-option>
                <mat-option
                  *ngFor="
                    let province of countries[findSelectedCountryIndex('registrationFormStep3')]
                      ? countries[findSelectedCountryIndex('registrationFormStep3')].regions
                      : []
                  "
                  [value]="province.name + ' (' + province.shortCode + ')'"
                >
                  {{ province.name }} ({{ province.shortCode }})
                </mat-option>
              </mat-select>
              <mat-error *ngIf="registrationFormStep3.get('province').invalid">
                {{ getErrorMessage('registrationFormStep3', 'province') }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Zip/Postal code</mat-label>
              <input
                matInput
                formControlName="postalCode"
                maxlength="14"
                required
                [value]="registrationFormStep3.get('postalCode').value | uppercase"
                (input)="formatCanadianPostalCode($event, 'registrationFormStep3')"
                (blur)="formatCanadianPostalCode($event, 'registrationFormStep3')"
                placeholder="Ex. J4K 5G7 (for Canada)"
              />
              <mat-error *ngIf="registrationFormStep3.get('postalCode').invalid">
                {{ getErrorMessage('registrationFormStep3', 'postalCode') }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Social Insurance Number</mat-label>
              <input
                matInput
                formControlName="socialInsuranceNumber"
                maxlength="11"
                required
                placeholder="Ex. 111-111-111"
                (input)="formatSocialInsuranceNumber($event, 'registrationFormStep3')"
                (blur)="formatSocialInsuranceNumber($event, 'registrationFormStep3')"
              />
              <mat-error *ngIf="registrationFormStep3.get('socialInsuranceNumber').invalid">
                {{ getErrorMessage('registrationFormStep3', 'socialInsuranceNumber') }}
              </mat-error>
              <button
                mat-icon-button
                matSuffix
                type="button"
                [matTooltip]="environment.inputs.socialInsuranceNumber.tooltip"
                matTooltipPosition="above"
                matTooltipClass="social-insurance-number-tooltip"
                class="social-insurance-number-tooltip-button"
              >
                <mat-icon class="material-icons-round">info</mat-icon>
              </button>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Profession</mat-label>
              <input matInput formControlName="profession" [value]="registrationFormStep3.get('profession').value | titlecase" />
              <mat-error *ngIf="registrationFormStep3.get('profession').invalid">
                {{ getErrorMessage('registrationFormStep3', 'profession') }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Employer</mat-label>
              <input matInput formControlName="employer" [value]="registrationFormStep3.get('employer').value | titlecase" />
              <mat-error *ngIf="registrationFormStep3.get('employer').invalid">
                {{ getErrorMessage('registrationFormStep3', 'employer') }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Employer phone number</mat-label>
              <input
                matInput
                type="tel"
                formControlName="employerPhoneNumber"
                [maxlength]="environment.inputs.phoneNumber.maxLength"
                placeholder="Ex. (555) 555-1234 (for Canada)"
                (input)="formatPhoneNumber($event, 'registrationFormStep3', 'employerPhoneNumber')"
                (blur)="formatPhoneNumber($event, 'registrationFormStep3', 'employerPhoneNumber')"
              />
              <mat-error *ngIf="registrationFormStep3.get('employerPhoneNumber').invalid">
                {{ getErrorMessage('registrationFormStep3', 'employerPhoneNumber') }}
              </mat-error>
            </mat-form-field>
            <div class="stepper-navigation-button-container">
              <button class="stepper-navigation-button" mat-raised-button color="primary" matStepperPrevious>Back</button>
              <button class="stepper-navigation-button" mat-raised-button color="primary" matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <!-- Step 4 -->
        <mat-step [stepControl]="registrationFormStep4" [editable]="isEditable" *ngIf="isActive">
          <form [formGroup]="registrationFormStep4" id="registration-form-step-4">
            <ng-template matStepLabel>Step 4</ng-template>
            <h2>Joint member information</h2>
            <div id="same-address-checkbox-container">
              <mat-checkbox color="primary" formControlName="sameAddressCheckBox" (change)="copyMainHolderAddress($event)">
                {{ environment.inputs.sameAddressCheckBox.checkBoxText }}
              </mat-checkbox>
            </div>
            <mat-form-field appearance="outline">
              <mat-label>Title</mat-label>
              <mat-select formControlName="title" required>
                <mat-option>-- Clear --</mat-option>
                <mat-option *ngFor="let title of environment.inputs.title.titles" [value]="title">
                  {{ title }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="registrationFormStep4.get('title').invalid">
                {{ getErrorMessage('registrationFormStep4', 'title') }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>First name</mat-label>
              <input matInput formControlName="firstName" required [value]="registrationFormStep4.get('firstName').value | titlecase" />
              <mat-error *ngIf="registrationFormStep4.get('firstName').invalid">
                {{ getErrorMessage('registrationFormStep4', 'firstName') }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Address</mat-label>
              <input
                matInput
                formControlName="address"
                required
                placeholder="Ex. 123 Main St Apt 10"
                [value]="registrationFormStep4.get('address').value | titlecase"
              />
              <mat-error *ngIf="registrationFormStep4.get('address').invalid">
                {{ getErrorMessage('registrationFormStep4', 'address') }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Last name</mat-label>
              <input matInput formControlName="lastName" required [value]="registrationFormStep4.get('lastName').value | titlecase" />
              <mat-error *ngIf="registrationFormStep4.get('lastName').invalid">
                {{ getErrorMessage('registrationFormStep4', 'lastName') }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Country</mat-label>
              <mat-select formControlName="country" required (selectionChange)="onCountryValueChange('registrationFormStep4')">
                <mat-option>-- Clear --</mat-option>
                <mat-option value="Canada">
                  <img class="flag-icon" src="../../assets/countries-flags-png/ca.png" />
                  Canada
                </mat-option>
                <mat-option value="United States">
                  <img class="flag-icon" src="../../assets/countries-flags-png/us.png" />
                  United States
                </mat-option>
                <mat-option disabled>
                  <mat-divider></mat-divider>
                </mat-option>
                <mat-option *ngFor="let country of countries" [value]="country.countryName">
                  <img
                    class="flag-icon"
                    src="{{ '../../assets/countries-flags-png/'.concat(country.countryShortCode.toLowerCase()).concat('.png') }}"
                  />
                  {{ country.countryName }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="registrationFormStep4.get('country').invalid">
                {{ getErrorMessage('registrationFormStep4', 'country') }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>City</mat-label>
              <input
                matInput
                formControlName="city"
                required
                placeholder="Ex. Montreal"
                [value]="registrationFormStep4.get('city').value | titlecase"
              />
              <mat-error *ngIf="registrationFormStep4.get('city').invalid">
                {{ getErrorMessage('registrationFormStep4', 'city') }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Social Insurance Number</mat-label>
              <input
                matInput
                formControlName="socialInsuranceNumber"
                maxlength="11"
                required
                placeholder="Ex. 111-111-111"
                (input)="formatSocialInsuranceNumber($event, 'registrationFormStep4')"
                (blur)="formatSocialInsuranceNumber($event, 'registrationFormStep4')"
              />
              <mat-error *ngIf="registrationFormStep4.get('socialInsuranceNumber').invalid">
                {{ getErrorMessage('registrationFormStep4', 'socialInsuranceNumber') }}
              </mat-error>
              <button
                mat-icon-button
                matSuffix
                type="button"
                [matTooltip]="environment.inputs.socialInsuranceNumber.tooltip"
                matTooltipPosition="above"
                matTooltipClass="social-insurance-number-tooltip"
                class="social-insurance-number-tooltip-button"
              >
                <mat-icon class="material-icons-round">info</mat-icon>
              </button>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>State/Province/Region</mat-label>
              <mat-select formControlName="province" required>
                <mat-option>-- Clear --</mat-option>
                <mat-option
                  *ngFor="
                    let province of countries[findSelectedCountryIndex('registrationFormStep4')]
                      ? countries[findSelectedCountryIndex('registrationFormStep4')].regions
                      : []
                  "
                  [value]="province.name + ' (' + province.shortCode + ')'"
                >
                  {{ province.name }} ({{ province.shortCode }})
                </mat-option>
              </mat-select>
              <mat-error *ngIf="registrationFormStep4.get('province').invalid">
                {{ getErrorMessage('registrationFormStep4', 'province') }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Zip/Postal code</mat-label>
              <input
                matInput
                formControlName="postalCode"
                maxlength="14"
                required
                [value]="registrationFormStep4.get('postalCode').value | uppercase"
                (input)="formatCanadianPostalCode($event, 'registrationFormStep4')"
                (blur)="formatCanadianPostalCode($event, 'registrationFormStep4')"
                placeholder="Ex. J4K 5G7 (for Canada)"
              />
              <mat-error *ngIf="registrationFormStep4.get('postalCode').invalid">
                {{ getErrorMessage('registrationFormStep4', 'postalCode') }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Profession</mat-label>
              <input matInput formControlName="profession" [value]="registrationFormStep4.get('profession').value | titlecase" />
              <mat-error *ngIf="registrationFormStep4.get('profession').invalid">
                {{ getErrorMessage('registrationFormStep4', 'profession') }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Relationship</mat-label>
              <input
                matInput
                type="text"
                formControlName="relationship"
                required
                [matAutocomplete]="auto"
                [value]="registrationFormStep4.get('relationship').value | titlecase"
                placeholder="Ex. Wife"
              />
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let relationship of filteredRelationships | async" [value]="relationship">
                  {{ relationship }}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="registrationFormStep4.get('relationship').invalid">
                {{ getErrorMessage('registrationFormStep4', 'relationship') }}
              </mat-error>
            </mat-form-field>
            <div class="stepper-navigation-button-container">
              <button class="stepper-navigation-button" mat-raised-button color="primary" matStepperPrevious>Back</button>
              <button class="stepper-navigation-button" mat-raised-button color="primary" matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <!-- Step 5 -->
        <mat-step [stepControl]="registrationFormStep5" [editable]="isEditable">
          <ng-template matStepLabel>Done</ng-template>
          <h2>Information review</h2>
          <div
            id="form-information-verification"
            [ngClass]="{
              'form-information-verification-individual': registrationFormStep3.get('accountType').value === 'Individual',
              'form-information-verification-joint': registrationFormStep3.get('accountType').value === 'Joint'
            }"
          >
            <p>
              <strong style="color: #3f51b5;">1- Owner member</strong><br />
              <strong>Email:</strong>&nbsp;{{ registrationFormStep2.get('email').value }}<br />
              <strong>Membership type:</strong>&nbsp;{{ registrationFormStep3.get('membershipType').value }}<br />
              <strong>Account type:</strong>&nbsp;{{ registrationFormStep3.get('accountType').value }}<br />
              <strong>Title:</strong>&nbsp;{{ registrationFormStep3.get('title').value }}<br />
              <strong>First name:</strong>&nbsp;{{ registrationFormStep3.get('firstName').value }}<br />
              <strong>Last name:</strong>&nbsp;{{ registrationFormStep3.get('lastName').value }}<br />
              <strong>Birthday:</strong>&nbsp;{{ registrationFormStep3.get('birthDay').value }}<br />
              <strong>Address:</strong>&nbsp;{{ registrationFormStep3.get('address').value }}<br />
              <strong>Country:</strong>&nbsp;{{ registrationFormStep3.get('country').value }}<br />
              <strong>City:</strong>&nbsp;{{ registrationFormStep3.get('city').value }}<br />
              <strong>Province:</strong>&nbsp;{{ registrationFormStep3.get('province').value }}<br />
            </p>
            <mat-divider [vertical]="true" [inset]="true"></mat-divider>
            <p>
              <strong>Postal code:</strong>&nbsp;{{ registrationFormStep3.get('postalCode').value }}<br />
              <strong>Phone number:</strong>&nbsp;{{ registrationFormStep3.get('phoneNumber').value }}<br />
              <strong>Social insurance number (SIN):</strong>&nbsp;{{ registrationFormStep3.get('socialInsuranceNumber').value }}<br />
              <strong>Profession:</strong>&nbsp;{{ registrationFormStep3.get('profession').value || 'N/A' }}<br />
              <strong>Employer:</strong>&nbsp;{{ registrationFormStep3.get('employer').value || 'N/A' }}<br />
              <strong>Employer phone number:</strong>&nbsp;{{ registrationFormStep3.get('employerPhoneNumber').value || 'N/A' }}<br />
            </p>
            <mat-divider [vertical]="true" [inset]="true" *ngIf="registrationFormStep3.get('accountType').value === 'Joint'"></mat-divider>
            <p *ngIf="registrationFormStep3.get('accountType').value === 'Joint'">
              <strong style="color: #3f51b5;">2- Joint member</strong><br />
              <strong>Title:</strong>&nbsp;{{ registrationFormStep4.get('title').value }}<br />
              <strong>First name:</strong>&nbsp;{{ registrationFormStep4.get('firstName').value }}<br />
              <strong>Last name:</strong>&nbsp;{{ registrationFormStep4.get('lastName').value }}<br />
              <strong>Address:</strong>&nbsp;{{ registrationFormStep4.get('address').value }}<br />
              <strong>Country:</strong>&nbsp;{{ registrationFormStep4.get('country').value }}<br />
              <strong>City:</strong>&nbsp;{{ registrationFormStep4.get('city').value }}<br />
              <strong>Province:</strong>&nbsp;{{ registrationFormStep4.get('province').value }}<br />
              <strong>Postal code:</strong>&nbsp;{{ registrationFormStep4.get('postalCode').value }}<br />
              <strong>Social insurance number (SIN):</strong>&nbsp;{{ registrationFormStep4.get('socialInsuranceNumber').value }}<br />
              <strong>Profession:</strong>&nbsp;{{ registrationFormStep4.get('profession').value || 'N/A' }}<br />
              <strong>Relationship:</strong>&nbsp;{{ registrationFormStep4.get('relationship').value }}<br />
            </p>
          </div>
          <form [formGroup]="registrationFormStep5" id="registration-form-step-5" #registrationFormStep5Ref="ngForm">
            <div
              class="user-agreement-container"
              [ngClass]="{
                'user-agreement-container-invalid':
                  registrationFormStep5.get('userAgreementStepDone').invalid && registrationFormStep5Ref.submitted
              }"
            >
              <mat-checkbox color="primary" formControlName="userAgreementStepDone" required>
                {{ userAgreementStepDoneText }}
              </mat-checkbox>
              <mat-error *ngIf="registrationFormStep5.get('userAgreementStepDone').invalid && registrationFormStep5Ref.submitted">
                {{ getErrorMessage('registrationFormStep5', 'userAgreementStepDone') }}
              </mat-error>
            </div>
            <div class="stepper-navigation-button-container">
              <button class="stepper-navigation-button" mat-raised-button color="primary" matStepperPrevious>Back</button>
              <button class="stepper-navigation-button" mat-raised-button color="primary">Send</button>
            </div>
          </form>
        </mat-step>
      </mat-horizontal-stepper>
    </mat-card-content>
  </mat-card>
</div>
